In [1]:
import pandas as pd

In [2]:
DATA_DIR = "/mnt/f/13_SLE_NUMT/SLE_完成_output/"
ALL_Breakpoints = DATA_DIR + "all_individuals_AllBreakpoints.tsv"
ConfidentBreakpoints = DATA_DIR + "all_individuals_ConfidentBreakpoints.tsv"
Break_input = DATA_DIR + "all_individuals_mt.disc.sam.breakpointINPUT.tsv"
CLUSTER_SUMMARY = DATA_DIR + "all_individuals_mt.disc.sam.cluster.summary.tsv"
CLUSTER = DATA_DIR + "all_individuals_mt.disc.sam.cluster.tsv"

In [3]:
df_ALL_Breakpoints = pd.read_csv(ALL_Breakpoints, sep="\t")
df_ALL_Breakpoints

,sampleID,chr,strand,pointGroup,Group,readsCount,pos,type
0,1000434,chr1,+,nu_Tend_Bleft,nuleft,1,118142017.0,all
1,1000434,chr1,+,nu_Tend_Bleft,nuleft,11,118142050.0,all
2,1000434,chr1,+,nu_Tend_Bleft,nuleft,2,118142097.0,all
3,1000434,chr1,+,nu_Tend_Bleft,nuleft,2,118142101.0,all
4,1000434,chr1,+,nu_Tend_Bleft,nuleft,2,118142105.0,all
...,...,...,...,...,...,...,...,...
53381902,zouzihanfu,chrM,-,mt_Tstart,mt_Tstart,1,6354.0,all
53381903,zouzihanfu,chrM,-,mt_Tstart,mt_Tstart,1,6379.0,all
53381904,zouzihanfu,chrM,-,mt_Tstart,mt_Tstart,1,6383.0,all
53381905,zouzihanfu,chrM,-,mt_Tstart,mt_Tstart,1,6384.0,all
53381906,zouzihanfu,chrM,-,mt_Tstart,mt_Tstart,2,6386.0,all

In [9]:
df_ALL_Breakpoints.loc[~df_ALL_Breakpoints['sampleID'].str.startswith('sample'),:].to_csv(ALL_Breakpoints, sep="\t", index=False)

In [10]:
df_confidentBreakpoints = pd.read_csv(ConfidentBreakpoints, sep="\t")
df_confidentBreakpoints

,sampleID,chr,strand,pointGroup,Group,readsCount,pos,type
0,1000434,chr1,+,nu_Tend_Bleft,nuleft,1,118142017.0,confident
1,1000434,chr1,+,nu_Tend_Bleft,nuleft,11,118142050.0,confident
2,1000434,chr1,+,nu_Tend_Bleft,nuleft,2,118142097.0,confident
3,1000434,chr1,+,nu_Tend_Bleft,nuleft,2,118142101.0,confident
4,1000434,chr1,+,nu_Tend_Bleft,nuleft,2,118142105.0,confident
...,...,...,...,...,...,...,...,...
1985399,zouzihanfu,chrM,-,mt_Tstart,mt_confident,1,6354.0,confident
1985400,zouzihanfu,chrM,-,mt_Tstart,mt_confident,1,6379.0,confident
1985401,zouzihanfu,chrM,-,mt_Tstart,mt_confident,1,6383.0,confident
1985402,zouzihanfu,chrM,-,mt_Tstart,mt_confident,1,6384.0,confident
1985403,zouzihanfu,chrM,-,mt_Tstart,mt_confident,2,6386.0,confident

In [11]:
df_confidentBreakpoints.loc[~df_confidentBreakpoints['sampleID'].str.startswith('sample'),:].to_csv(ConfidentBreakpoints, sep="\t", index=False)